body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
flex-grow: 1;
}

/* Fondo del navbar personalizado */
.bg-Verde-Navbar {
  background-color: #487561 !important;
}

/* Links generales del navbar */
.navbar-nav .nav-link {
  color: #cfd9cf !important;  /* Gris claro */
  transition: color 0.3s ease;
}

/* Hover en los links */
.navbar-nav .nav-link:hover {
  color: white !important;
}

/* Link activo */
.navbar-nav .nav-link.active {
  color: white !important;
  font-weight: bold;
}

/*Footer*/
@media (max-width: 767.98px) {
  footer .row > div {
    text-align: center;
    justify-content: center;
  }

  footer .d-flex {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  footer .small {
    font-size: 0.75rem; /* más chico que el default */
  }
}

/*Main*/
/*Seccion Hero del Mundo del Color*/
.bgHero{
  background-color: #7cab96 ;
  color: #f1f1f1;
}
.rotated-imageHero {
  transform: rotate(3deg);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}

/*Seccion Teoria del color*/

.text-color {
  color: #487561 ; 
}

.titulo-parte1,
.titulo-parte2 {
  display: block;
}


.decoracion-barra {
  width: 60px;
  height: 3px;
  background-color: #487561 ; 
  border-radius: 2px;
}

.iconoTeoria {
  background-color: #487561 ;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content: center;
  margin: 0 auto;
}

.iconoTeoria i {
  font-size: 1.2rem;
  color: #fbfafa;
}

/*Seccion Teoria del color*/
.text-color {
  color: #2f6e5d; /* verde oscuro */
}

.decoracion-barra {
  width: 60px;
  height: 4px;
  background-color: #2f6e5d;
  border-radius: 2px;
}

.card img {
  object-fit: cover;
  height: 200px;
}
