body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Fondo del navbar personalizado */
.bg-Verde-Navbar {
  background-color: #487561 !important;
}

/* Links generales del navbar */
.navbar-nav .nav-link {
  color: #cfd9cf !important; /* Gris claro */
  transition: color 0.3s ease;
}

/* Hover en los links */
.navbar-nav .nav-link:hover {
  color: white !important;
}

/* Link activo */
.navbar-nav .nav-link.active {
  color: white !important;
  font-weight: bold;
}

/*Footer*/
@media (max-width: 767.98px) {
  footer .row > div {
    text-align: center;
    justify-content: center;
  }

  footer .d-flex {
    justify-content: center;
  }
}
@media (max-width: 767.98px) {
  footer .small {
    font-size: 0.75rem; /* más chico que el default */
  }
}

/*Main*/
/*Seccion Hero del Mundo del Color*/
.bgHero {
  background-color: #7cab96;
  color: #f1f1f1;
}
.rotated-imageHero {
  transform: rotate(3deg);
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}

/*Seccion Teoria del color*/

.cardTeoriaDelColor {
  width: 180px;
}

.text-color {
  color: #487561;
}

.titulo-parte1,
.titulo-parte2 {
  display: block;
}

.decoracion-barra {
  width: 60px;
  height: 3px;
  background-color: #487561;
  border-radius: 2px;
}

.iconoTeoria {
  background-color: #487561;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.iconoTeoria i {
  font-size: 1.2rem;
  color: #fbfafa;
}

/*Seccion Teoria del color*/
.text-color {
  color: #487561; /* verde oscuro */
}

.decoracion-barra {
  width: 60px;
  height: 4px;
  background-color: #2f6e5d;
  border-radius: 2px;
}

.card img {
  object-fit: cover;
  height: 350px;
}

/* Ajuste en pantallas chicas */
@media (max-width: 576px) {
  .card img {
    height: 250px;
  }
}

/*Seccion Teoria del color*/
.bgForm {
  background-color: #487561;
  color: #ede9e9;
}

/*Seccion Formulario*/
.decoracion-barra-form {
  width: 60px;
  height: 4px;
  background-color: #ede9e9;
  border-radius: 2px;
}
.formulario-btn {
  background-color: white;
  color: #212020;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s ease;
}

.formulario-btn:hover {
  background-color: #e4e4e4;
  color: #287351;
}

.newsletter-form .form-label {
  color: white;
  font-weight: 500;
}

.newsletter-btn {
  background-color: white;
  color: #3d735a;
  font-weight: bold;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s ease;
}

.newsletter-btn:hover {
  background-color: #e4e4e4;
}

/*Transiciones y Animaciones*/

/*Transiciones y Animaciones Seccion Teoria del Color */

.iconoTeoria {
  transition: transform 0.3s ease;
}

.iconoTeoria:hover {
  transform: scale(1.2) rotate(30deg);
}

/*Transiciones y Animaciones Seccion Galeria de Colores */

.cardAnimacion {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardAnimacion:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

/*Transiciones y Animaciones Seccion Tipos de Colores */

.card-hover-zoom {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover-zoom:hover {
  transform: scale(1.10);
  box-shadow: 0px 12px 20px rgba(59, 240, 4, 0.408)!important ;
}
